extends layout

//- overwrites default content block 
block content 
    p Hello!





//- div
//-     h1 Aye! 
//-     p#greeting Hello! My dog's name is #{dog.toUpperCase()}

//-     h2
//-         | Piping it 
        